<div id="container">
<h1>Enter your AWS Credentials</h1>
Enter the credentials of the AWS account that contains the resources you are using to construct a template.

<%= render 'get_credentials_form' %>
</div>
