<div id=container>
<h1>Unable to check your account</h1>
Unfortunately, we could not enumerate the AWS resources in your account. Please check that you entered your AWS credentials correctly.
<p/>
<%= link_to image_tag("btn_continue.gif"), "/" %>
</div>
