<div id="container">
<h1>Congratulations!</h1>
You have created an AWS CloudFormation template and saved it to S3. You can now launch stacks using the template from the
AWS Management Console. Note: if you launch the template, it will be launched in the same region as the S3 bucket in which you stored the template. This may not be the same region that you used to create the template.
<p/>
<%= link_to image_tag("btn_new_template.gif"), "/" %>
<%= link_to image_tag("btn_launch_stack.png"), @launch_url %>
</div>
